 body{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-image: url( coming\ soon.jpg);
 
  
}
.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg,#010758,#490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
textarea{
  background: transparent;
  border: solid rgb(140, 132, 132);
  color: wheat;
  border-radius: 5px;
  width:250px;
  height: 250px;
  resize: none;
}
button{
  background: transparent;
  border-radius: 35px;
 
  border: solid rgb(140, 132, 132);
  color: wheat;  border-radius: 5px;
}
.row{
  width: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
select{
 color: #fff;
 background: #403d84;
 height: 50px;
 padding: 0 20px;
 border-radius: 35px;
 
 flex:1;
}
span{
  color:white;
}a{
  color:  white;
  
  
}
